
                    <h4 class="form-control">1. Choix : <span>{{TypeText}}</span></h4>
                    <div class="form-row mx-1 my-1">
                        <i class="fas fa-globe fa-5x mx-1 my-1" id="URL" (click)="InfoType($event)"></i>
                        <i class="fas fa-file fa-5x mx-1 my-1" id="TEXTE" (click)="InfoType($event)"></i>
                        <i class="fas fa-address-book fa-5x mx-1 my-1" id="CARTE" (click)="InfoType($event)"></i>
                    </div>
                    <div class="form-row mx-1 my-1">
                        <i class="fas fa-sms fa-5x mx-1 my-1" id="SMS" (click)="InfoType($event)"></i>
                        <i class="fas fa-phone fa-5x mx-1 my-1" id="PHONE" (click)="InfoType($event)"></i>
                        <i class="fas fa-map-marker fa-5x mx-1 my-1" id="GEOLOCALISATION" (click)="InfoType($event)"></i>
                    </div>
                    <div class="form-row mx-1 my-1">
                        <i class="fas fa-calendar fa-5x mx-1 my-1" id="CALENDRIER" (click)="InfoType($event)"></i>
                        <i class="fas fa-envelope fa-5x mx-1 my-1" id="EMAIL" (click)="InfoType($event)"></i>
                        <i class="fas fa-wifi fa-5x mx-1 my-1" id="WIFI" (click)="InfoType($event)"></i>
                    </div>
