<form class="form-inline">
    <div id="selector" class="form-group col-md-5">
        <app-type-qr-code (InfoT) ="InfoT($event)"></app-type-qr-code>
    </div>
    <div id="selector2" class="form-group col-md-5">
      <h4 class="form-control">2. Contenu</h4>
        <app-type-url [style.display] ="selectURL" (Url)="Url($event)"></app-type-url>
        <app-type-texte [style.display] ="selectTEXT" (Txt)="Txt($event)"></app-type-texte>
        <app-type-carte [style.display] ="selectCarte" (Carte)="Carte($event)"></app-type-carte>
        <app-type-sms [style.display] ="selectSms" (Sms)="Sms($event)"></app-type-sms>
        <app-type-phone [style.display] ="selectPhone" (Call)="Call($event)"></app-type-phone>
        <app-type-maps [style.display] ="selectMaps" (Map)="Map($event)"></app-type-maps>
        <app-type-cal [style.display] ="selectCal" (Calend)='Calend($event)'></app-type-cal>
        <app-type-mail [style.display] ="selectMail" (Mail)="Mail($event)"></app-type-mail>
        <app-type-wifi [style.display] ="selectWifi" (Wifi)="Wifi($event)"></app-type-wifi>
    </div>
  </form>

  <div class="form-group col-md-4">

    <div class="form-group">
      <div *ngFor="let blob of Blob">
          <label for="blob">Lien QrCode</label>
          <input name="{{blob}}" id="blob" class="form-control" value="{{blob}}"/>
          <button class="form-control" value="{{blob}}" style="margin:5px" (click)="safe($event.target.value)">Afficher QrCode</button>

      </div>
    </div>
    <div class="form-group">
      <img class="form-control" [src]='urlSafe'/>
    </div>
  </div>

